@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    flex-direction: column;
    color: #A5B2D3;
    /* padding: .5em; */
    font-family: serif;
    height: 100vh;
    text-align:center;
    background: #303A52;
    font-family: 'Nunito', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 16px;
}

header svg {
    width: 1.5em;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}


ul {
    list-style: none;
    padding: 0;
}

a.logo {
    font-weight: bold;
    margin: 0 1em;
}

a.cta-btn {
    margin-left: auto;
    background: #FC85AE;
    padding: 1em;
    display: inline-block;
    border-radius: 2em;
    font-size: .6em;
    color: #303A52;
    font-weight: bold;
}

nav {
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    width: 80%;
    visibility: hidden;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s;
    text-align: center;
    background: #2C354A;
    text-align: left;
}


nav p {
    margin-bottom: 0;
}

nav svg {
    cursor: pointer;
    width: 1em;
}

nav ul li a {
    display: block;
    font-size: 1.2em;
    padding: .8em 1em;
}

nav img {
    top: 0;
    left: 0;
}

.selected {
    background: #9E579D;
}

.open-nav {
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
}

/* Main Section */


h1 {
    color: white;
    font-size: 19px;
    
}

.panel {
    background: #39445F;
    border-radius: .3em;
    padding: .5em 1em;
    margin-bottom: 1em;
    position: relative;
    display: inline-block;
}

.panel-dark {
    background: #303A52;
}

h3 {
    color: #FC85AE;
    margin: 0;
    font-size: 2em;
}

ul.data li p {
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin: .3em 0 1em;
}

ul.data li:last-child p {
    margin-bottom: 0;
}
ul.secondary {
    margin-top: 2em;
}
ul.secondary li p {
    font-size: 1.3em;
}

main {
    border: 1px solid white;
    border: unset;
}


/* My Fixes Below */

p {
    line-height: 1.4em;
}

a.cta-btn {
    font-size: .9em;
    padding: .2em .4em;
    border-radius: .2em;
}
/* continue here */

h3 {
    font-size: unset;
}


.inner-wrapper {
    padding: 1em;
}
.panel {
    /* padding: .5em 1em;
    position: relative; */
    display: inline-block;
}

.image {
   width: 544px;
   opacity: 40%;
   display: block;
}

.art-image {
    max-height: 680px;
}

.caption {
    position: absolute;
    transform: translate( -50%, -50% );
    text-align: center;
    color: #fafafa;
    font-weight: bold;
}


.caption-business__pos {
    top: 70%;
    left: 51%;
    transform: translate( -15%, -50% );
    text-align: right;
}

.caption-people__pos {
    top: 70%;
    left: 50%;
    bottom: 30%;
    width: 80%;
    transform: translate( -15%, -50% -25%  );
    text-align: center;
}

.caption-art__pos {
    top: 25%;
    left: 50%;
    width: 70%;
    transform: translate( -15%, -60% -25%);
    text-align: center;
}

.caption-business__pos h3,
.caption-people__pos h3,
.caption-art__pos h3 {
    border-bottom: #A5B2D3 1px solid;
    padding-bottom: 0.25em;
}

/* hier an der stelle weiter machen */
/* irgendwas stimmt am centering nicht */
/* in kleineren spex */

.footer-text__content {
    width: 100%;
    padding: 3em 1.5em;
    
}

.footer-text__heading {
    width: auto;
    border: #FC85AE solid 2px;
    border-radius: 4px;
    margin: 0 auto 2em;
    padding: 15px 25px;
}

.footer-text__subtext {
    width: 95%;
    margin: 0 auto .5em;
    padding: 0.25em 16px;
}

.email-form__container {
    margin: 0 auto;
    background: #39445F;
}

.email-form__content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
}

.email-form__content input[type="text"],
.email-form__content input[type="email"] {
    border: 2px solid #FC85AE;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: whitesmoke;
    border-radius: 4px;
    transition: 0.25s;
}

.email-form__content input[type="text"]:focus,
.email-form__content input[type="email"]:focus {
    width: 260px;
    border-color: yellow;
}

.email-form__content input[type="submit"] {
    border: 2px solid #FC85AE;
    background: #FC85AE;
    display: inline-block;
    margin: 1.4em auto 3em;
    text-align: center;
    padding: 5px 20px;
    width: 150px;
    outline: none;
    color: #39445F;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 4px;
    transition: 0.25s;
}

.email-form__content input[type="submit"]:hover,
.email-form__content input[type="submit"]:active {
    background: none;
    color: #FC85AE;
}

.email-form__content select {

}

/* .email-form__content form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: .5em;
    grid-template-rows: 1fr;
    row-gap: 1em;
    width: 4em;
    margin: 0;
    padding: 1em;
} */

/* Large Phones */

/* @media (min-width: 420px) {
    body {
        padding: 1em;
        text-align: left;
    }
   
}

@media (min-width: 550px) {
    ul.data {
        justify-content: center;
    }
    .panel ul.data li {
        flex: 0 0 33%;
    }
    .panel ul.data li p {
        margin-bottom: 0;
    }
    nav {
        width: 40%;
    }
} */

/* Tablet size setting */

/* @media (min-width: 720px) {
    body {
        padding: 1.5em;
    }
    
    .columns {
        display: flex;
    }
    .col {
        flex: 0 0 48%;
    }
    .secondary {
        margin-left: 3em;
    }
    ul.secondary {
        margin-top: 0;
    }
    nav {
        width: 30%;
    }
    
} */

/* Desktop size setting */

/* @media (min-width: 850px) {
    body {
        display: grid;
        grid-template-columns: 175px auto;
        grid-template-rows: 70px auto;
        grid-template-areas:
            "sidebar main"
            "sidebar main";
        padding: 0;
    }
    
    header, main {
        padding: 1.5em;
    }

    .inner-wrapper {
        visibility: hidden;
    }
    
    nav {
        grid-area: sidebar;
        opacity: 1;
        visibility: unset;
        transform: translateX(0);
        width: 100%;
        position: unset;
        
    }
    
    header {
        grid-area: header;
    }
    
    main {
        grid-area: main;
    }
    
    a.logo {
        margin: 0;
    }
    svg {
        display: none;
    }
} */