@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;

    font-family: 'Nunito Sans', sans-serif;
}

:root {
    font-size: 16px;
    --color-background: #303A52;
    --color-grey: #39445F;
    --color-accent: #FC85AE;
    --color-text: #A5B2D3;
    --background-navbar: #2C354A;
}

body {
    background: var(--color-background);
    max-width: 360px;
    color: var(--color-text);
}

/* NAVBAR */

.logo {
    justify-content: center;
    align-items: center;
    
}

.logo img {
    width: 360px;
    height: 230px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    opacity: 75%;
    margin: 1em auto;
}

.navbar {
    display: inline-block;
    width: 360px;
    visibility: visible;
    /* height: 100vh; */
    position: fixed;
    bottom: 0%;
    z-index: 100;
    background-color: var(--background-navbar);
    border-radius: .5em;
    transition: top 0.5s ease-in-out;
}

.navbar.hide {
    top: -50px
 }

.navbar-nav {
    list-style: none;
    padding: 1em 1.5em;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

/* MAIN CONTENT */

main {
    padding: 0.5em;
    /* margin-top: 5rem; */
}

.panel {
    display: flex;
    flex-direction: column;
    background: var(--color-grey);
    max-width: 360px;
    padding: 0.75em;
    margin: 1.5em 0.5em;
    /* border-radius: 0.25em; */
}

.panel__image img {
    /* display: block; */
    opacity: 40%;
    width: 305px;
    justify-self: flex-start;
    /* align-items: flex-start; */
}

/* BUSINESS POSITIONING */

.panel--business {
    margin-top: 1.75em;
    position: relative;
}

.panel-business--positioning {
    position: absolute;
    top: 65%;
    left: 50%;
    right: 7%;
    text-align: right;
}

/* PEOPLE POSITIONING */

.panel--people {
    position: relative;
}

.panel-people--positioning {
    position: absolute;
    top: 74%;
    left: 10%;
    right: 10%;
    
    
    text-align: center;
    /* border: 1px green solid; */
}

/* ART POSITIONING */

.panel--art {
    position: relative;
}

.panel-art--positioning {
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;

    text-align: center;
    /* border: 1px green solid; */
}

.panel--positioning p {
    color: #fafafa;
    font-size: 0.7em;
    margin: 0.5em auto 1em;
}


.panel--positioning h3 {
    color: var(--color-accent);
    font-size: 0.7em;
    border-bottom: #A5B2D3 1px solid;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 0.25em;
}



/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1em 1.5em;
    padding: 0.75em;
    text-align: center;
    background: var(--color-grey);
}

.footer-text__container {
    margin: 0 auto;
    padding: 0;
}

.footer-text__title {
    margin: 1em auto;
    padding: 15px 25px;

    color: var(--color-accent);
    border: var(--color-accent) 2px solid;
    border-radius: 4px;

}

.footer-text__subtext {
    margin: 2em auto 0;
    padding: 0;
}

.footer-text__subtext p {
    margin: 0;
}

.footer-text__icon img {
    margin: 2em auto 0 ;
}

i {
    font-size: 1.25em;
    color:var(--color-accent);
}

.email-form__container {
    margin: 2em auto 1.5em;
    
}

.email-form__container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-form__container input[type="text"],
.email-form__container input[type="email"] {
    border: 2px solid #FC85AE;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 15px 10px;
    width: 230px;
    outline: none;
    color: whitesmoke;
    border-radius: 4px;
    transition: 0.25s;
}

.email-form__container input[type="text"]:focus,
.email-form__container input[type="email"]:focus {
    width: 260px;
    border-color: yellow;
}

.email-form__container input[type="submit"] {
    border: 2px solid #FC85AE;
    background: #FC85AE;
    display: inline-block;
    margin: 1.4em auto 0.5em;
    text-align: center;
    padding: 5px 20px;
    width: 150px;
    outline: none;
    color: #39445F;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 4px;
    transition: 0.25s;
}

.email-form__container input[type="submit"]:hover,
.email-form__container input[type="submit"]:active {
    background: none;
    color: #FC85AE;
}

/* RESPONSIVE MEDIA */

/* LARGE PHONES 414px SCREEN */

/* @media(min-width: 414px) {
    .navbar,
    .panel {
        width: 414px;
    }
} */

/* TABLET SCREEN ??? */

/* TABLET SMALL 768px */

/* TABLET LARGE 1280px */

/* DESKTOP SCREEN 1920px*/
